.btn-wrap-text {
    font-weight: 600;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-150px * 5 - 20px * 5));
    }
}

.carousel {
    width: 100%;        /* видимая область */
    height: 150px;
    overflow-x: auto;
    white-space: nowrap; /* чтобы блоки шли в одну линию */
    scroll-behavior: smooth;
    border-radius: 15px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar {
    display: none;}
.track {
    display: inline-flex;
    gap: 20px;
    animation: scroll 15s linear infinite;
}

.item {
    box-sizing: border-box;
    flex: 0 0 auto;         /* не сжимается и не растёт */
    width: 150px;
    height: 150px;
    background: rgba(255, 90, 0, 0.1);
    border: 2px solid orange;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-wrap.closed .text-box,
.news-wrap.closed img:not(.tree),
.news-wrap.closed p:not(.cont) {
    display: none;
}

.btn-log{
    display: flex;
    justify-content: center; /* горизонтально */
    align-items: center;
}
.tree {
    display: flex;
    margin: 0 auto;
    width: 48%;
    height: 48%;

}
.btn-wrap {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-wrap:active,
.btn-wrap:hover {
    outline: 0;
}

.btn-wrap span {
    background-color: rgb(5, 6, 45);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn-wrap:hover span {
    background: none;
}

.btn-wrap:active {
    transform: scale(0.9);
}

body {
    font-family: Roboto, sans-serif;
    background-repeat: repeat;
    background-size: 10% auto;
    background-attachment: fixed;
}
.section {
    display: none;
    opacity: 0;
    transition:  opacity 0.8s ease-in-out;

}
.section.active {
    display: block;
    opacity: 1;
}
#home-section {
    background: transparent;
    display: grid;
    place-items: center;
    max-width: 92%; /* ← ограничивает ширину */
    margin: 0 auto;    /* ← центрирует секцию */
    padding: 0 20px;   /* ← отступы по краям на мобилке */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    backdrop-filter:blur(2px) ;
    align-items: start;      /* ← ВСЕ элементы по верху */
}
.news-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.main-content {
    padding-top: 90px; /* Отступ для фиксированного header */
}

.content-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* ← центр по вертикали */
    align-items: center;      /* ← центр по горизонтали */
    padding: 15px;
    gap: 15px;
    width: 95%;
    min-width: 90%;
    border: 3px solid darkorange;
    border-radius: 150px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-color: rgba(255, 0, 0, 0.05);
}
.news-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* ← центр по вертикали */
    align-items: center;      /* ← центр по горизонтали */
    width: 100%;
    padding: 15px;
    gap: 20px;
    max-width: 500px;
    border: 4px solid darkorange;
    border-radius: 350px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-color: rgba(255, 0, 0, 0.05);
}
.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    grid-template-rows: repeat(2, 1fr);
    gap: 3px; /* расстояние между картинками */
    width: 420px;
    height: 420px;
    max-width: 100%;
    height: auto;

}
.images-grid img {
    width: 100%;
    height: 100%;
    transition: ease-in .8s ;
    cursor: pointer;
    box-sizing: border-box;

}
.images-grid > img:nth-child(1)  {border:2px solid #69AFF7;padding: 1px}
.images-grid > img:nth-child(2)  {border:2px solid #b72224;padding: 1px}
.images-grid > img:nth-child(3)  {border:2px solid #6C798A;padding: 1px}
.images-grid > img:nth-child(4)  {border:2px solid #BD8953;padding: 1px}


.images-grid img:hover {
    transform: scale(1.30);
}

.cont {
    font-size: 30px;
    padding: 10px;
    color: white;
    max-height: 100%;
    background: linear-gradient(180deg, #00D4FF, #75C1C7);
    border-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.contopen {
    all: unset;
    font-size: 32px;
    color: rgb(150,20,50);
    padding: 10px;
    background: linear-gradient(180deg, #00D4FF, #75C1C7);
    border-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 1px;
    display: inline-block;
    line-height: 1.2;
    box-shadow: 0 4px 0 rgba(117, 193, 199, 0.78);
    margin-top: 32px;

}
.text-box {
    background-image: url("images/back3.png");
    background-position: 50% 50%;
    height: 420px;
    border: 2px solid rgb(72,209,204);
    padding: 15px;
    word-wrap: break-word;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: white;

}
.text-box3 {
    background-image: url("images/back3.png");
    background-position: 50% 50%;
    height: 420px;
    border: 2px solid rgb(72,209,204);
    padding: 15px;
    word-wrap: break-word;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: white;
    min-width: 100%;
}
.text-box3 p {
    transition: opacity 1.2s ease, transform 1.2s ease;
    font-size: 1.2rem;
    padding: 10px;
}
.text-box3 p.fade-out {
    opacity: 0;
    transform: scale(0.98);
}
#about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    position: fixed;
    top: 32%;
    left: 38%;
    width: 100%;
    height: 100%;
    display: none; /* скрыто по умолчанию */
    justify-content: center;
    align-items: center;
}

/* само всплывающее окно */
.popup-content {
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    position: relative;
}

/* крестик */
#close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

