
.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    background-image: conic-gradient(from 225deg, #11998ecc, #38ef7dcc, #589D8Ccc);
    padding: 12px;
    border-radius: 30px;
    z-index: 1000;
    backdrop-filter:blur(5px) ;
    transition: all 0.3s ease-in-out;
}
.header.sticky {
    position: fixed;
    top: 0;
    max-width: 600px;
    padding: 8px;
    padding-top: 6px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-image: conic-gradient(from 225deg, #11998e4d, #38ef7d4d, #589D8C4d);
}


.header-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    flex-shrink: 0;

}

.btn {
    width:10em;
    background-color: white;
    color: #4CAF50;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease, letter-spacing 0.2s;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border: none;
    box-shadow: 0 4px 0 #3d8b40;
    letter-spacing: 1px;


}
.btn:hover {
    background-color: rgba(56, 142, 60, 0.3);
    color: #fff;
    box-shadow: 0 3px 0 #3d8b40;
    transition: background-color 0.8s ease;
}
.btn:active {
    transform: translateY(3px);
    box-shadow: none;
    letter-spacing: 0.5px;
}
.btn-lg {
    position: relative;
    display: block;
    /* чтобы ширина соответствовала содержимому */
}
.btn-sl {
    display: block;
    position: absolute;
    top: -30%;
    left: -28%;
    width: 0;
    height: 170%;
    background-color: rgba(0, 0, 0, 0.49);
    transform: skew(-15deg);
    transition: all .6s ease;
    z-index: 0;
}
.btn-sl2 {
    display: block;
    position: absolute;
    top: -30%;
    right: -28%;
    width: 0;
    height: 170%;
    background-color: rgb(54, 235, 125);
    transform: skew(-15deg);
    transition: all .6s ease;
}
.btn:hover .btn-sl {
    width: calc(60% + 16px);
}
.btn:hover .btn-sl2 {
    width: calc(60% + 17px);
}
.btn-text {
    position: relative;
}
.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 30px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #66e29a, 0 0 25px -17px #66e29a;
    border: 0;
    border-radius: 12px;
    background-color: rgba(22, 23, 29, 0.65);
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}
.input::placeholder {
    color: #bdbecb;
}

.input:hover {
    box-shadow: 0 0 0 2.5px #60f097, 0px 0px 25px -15px #60f097;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #48bea1;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}
.searcher {
    position: relative;        /* ← ЭТО САМОЕ ВАЖНОЕ! */
    display: flex;
    align-items: center;
    height: 0px;
    flex-shrink: 0;            /* не даём сжиматься */
    width: 160px;              /* фиксированная ширина */
    margin-left: 15px;
    transition: width 0.3s ease-in-out;/* отступ от кнопок, если нужно */
}
.header.sticky .searcher {
    width: 100px; /* Уменьшенная ширина при прокрутке */
    margin-top: 0.2vw;
}
.suggestions {
    position: absolute;
    top: 38px; /* чуть ниже input */
    left: 0;
    width: 100%;
    list-style: none; /* убираем маркеры */
    margin: 0;
    padding: 0;
    background: #1a1b23;
    border: 1px solid #66e29a;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* скрыт по умолчанию */
    z-index: 10;
}
.suggestions li {
    padding: 5px 10px;
    cursor: pointer;
    color: #bdbecb;
}

.suggestions li:hover {
    background: #66e29a;
    color: #000;
}